@import url("https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css");
* {
  margin: 0;
  padding: 0;
}

* {
  padding: 0;
  margin: 0;
}

body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: black;
}

.head {
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-item-align: center;
      align-self: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 70%;
  gap: 116px;
}
.head img {
  width: 186px;
  height: 58px;
  margin-top: 20px;
  margin-left: 425px;
}
.head ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 31px;
  text-decoration-style: none;
  margin-top: 25px;
}
.head ul .log {
  border: 1px solid var(--light-text, #FFF);
  /* shadow */
  -webkit-box-shadow: 0px 4px 31px 0px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 31px 0px rgba(0, 0, 0, 0.15);
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  height: 35px;
  padding: 1px 25px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  color: var(--light-background, #FFF);
  /* Button */
  font-family: Graphik;
  font-size: 17px;
  font-style: normal;
  font-weight: 500;
  line-height: 25px; /* 147.059% */
  letter-spacing: 0.2px;
}

.lp {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 50px 0px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 17px;
  -ms-flex-item-align: stretch;
      align-self: stretch;
}
.lp .zagol {
  color: var(--light-text, #FFF);
  text-align: center;
  /* Headline */
  font-family: Graphik;
  font-size: 80px;
  font-style: normal;
  font-weight: 500;
  line-height: 88px; /* 110% */
  letter-spacing: 0.2px;
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 10px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
}

.pl .klass {
  color: var(--light-text, #FFF);
  text-align: center;
  /* Sub Heading */
  font-family: Graphik;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px; /* 150% */
  letter-spacing: 0.2px;
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 10px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
}

.zaeb {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 35px;
}
.zaeb .is {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 10px 30px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: var(--primary, #4452FE);
  /* shadow */
  -webkit-box-shadow: 0px 4px 31px 0px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 31px 0px rgba(0, 0, 0, 0.15);
  display: flex;
  padding: 10px;
  align-items: center;
  gap: 10px;
  color: var(--light-text, #FFF);
  /* Button */
  font-family: Graphik;
  font-size: 17px;
  font-style: normal;
  font-weight: 500;
  line-height: 25px; /* 147.059% */
  letter-spacing: 0.2px;
}
.zaeb .al {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 10px 30px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 1px solid var(--light-text, #FFF);
  /* shadow */
  -webkit-box-shadow: 0px 4px 31px 0px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 31px 0px rgba(0, 0, 0, 0.15);
  display: flex;
  padding: 10px;
  align-items: center;
  gap: 10px;
  color: var(--light-background, #FFF);
  /* Button */
  font-family: Graphik;
  font-size: 17px;
  font-style: normal;
  font-weight: 500;
  line-height: 25px; /* 147.059% */
  letter-spacing: 0.2px;
}

.img {
  height: 993px;
  -ms-flex-item-align: stretch;
      align-self: stretch;
}
.img .ahu {
  width: 1552.023px;
  height: 841px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
}
.img .ahu .verh {
  width: 465.817px;
  height: 429.985px;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  -ms-flex-negative: 0;
      flex-shrink: 0;
  background: url(<path-to-image>), lightgray 50%/cover no-repeat;
}
.img .ahu .pravo {
  width: 466.534px;
  height: 451.484px;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  -ms-flex-negative: 0;
      flex-shrink: 0;
  background: url(<path-to-image>), lightgray 50%/cover no-repeat;
}
.img .ahu .levo {
  width: 466.534px;
  height: 429.985px;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  -ms-flex-negative: 0;
      flex-shrink: 0;
  background: url(<path-to-image>), lightgray 50%/cover no-repeat;
}
.img .grad {
  width: 1579px;
  height: 551px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0)), color-stop(66.15%, #0E0E0E));
  background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, #0E0E0E 66.15%);
}

.tu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 62px 50px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  gap: 10px;
  -ms-flex-item-align: stretch;
      align-self: stretch;
  background: var(--dark-background, #181818);
  display: flex;
  flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 80px;
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 27px;
}
.tu .zaa {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
  color: var(--light-text, #FFF);
  /* Second Headline */
  font-family: Graphik;
  font-size: 52px;
  font-style: normal;
  font-weight: 400;
  line-height: 62px; /* 119.231% */
  letter-spacing: 0.2px;
}
.tu .zee {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0px 10px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
  color: var(--light-text, #FFF);
  text-align: center;
  /* Sub Heading */
  font-family: Graphik;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px; /* 150% */
  letter-spacing: 0.2px;
}

.inop {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 27px;
}
.inop .iso {
  width: 752px;
  height: 759px;
}
.inop .iso .chat {
  width: 696px;
  height: 659px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  background: url(<path-to-image>), lightgray 50%/contain no-repeat;
  /* shadow */
  -webkit-box-shadow: 0px 4px 31px 0px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 31px 0px rgba(0, 0, 0, 0.15);
}
.inop .iso .line {
  width: 400px;
  height: 276px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  background: url(<path-to-image>), lightgray 50%/cover no-repeat;
  /* shadow */
  -webkit-box-shadow: 0px 4px 31px 0px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 31px 0px rgba(0, 0, 0, 0.15);
}

.icro {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 20px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  gap: 25px;
  display: flex;
  width: 269px;
  flex-direction: column;
  align-items: flex-start;
  padding-left: 500px;
  margin-top: -80px;
}
.icro .bezko {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 269px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}
.icro .bezko .bez {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 17px 0px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
  fill: var(--secondary, #02E4C0);
  width: 41px;
  height: 19px;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}
.icro .bezko .zagolovok {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 10px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
  color: var(--light-text, #FFF);
  /* Title */
  font-family: Graphik;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 30px; /* 150% */
  letter-spacing: 0.1px;
}
.icro .bezko .osn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 10px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
  color: var(--light-text, #FFF);
  /* Paragraphe */
  font-family: Graphik;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 150% */
  letter-spacing: 0.2px;
}
.icro .ino {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}
.icro .ino .in {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 15px 2px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
  width: 29px;
  height: 30px;
  fill: var(--secondary, #02E4C0);
}
.icro .ino .zag {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 10px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
  color: var(--light-text, #FFF);
  /* Title */
  font-family: Graphik;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 30px; /* 150% */
  letter-spacing: 0.1px;
}
.icro .ino .osnov {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 10px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
  color: var(--light-text, #FFF);
  /* Paragraphe */
  font-family: Graphik;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 150% */
  letter-spacing: 0.2px;
}
.icro .inopl {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}
.icro .inopl .eat {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 19px 3px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  gap: 10px;
  width: 25.494px;
  height: 23.665px;
  fill: var(--secondary, #02E4C0);
}
.icro .inopl .eating {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 10px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
  color: var(--light-text, #FFF);
  /* Title */
  font-family: Graphik;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 30px; /* 150% */
  letter-spacing: 0.1px;
}
.icro .inopl .moreat {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 10px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
  color: var(--light-text, #FFF);
  /* Paragraphe */
  font-family: Graphik;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 150% */
  letter-spacing: 0.2px;
}

.new {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 50px 199px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 35px;
  -ms-flex-item-align: stretch;
      align-self: stretch;
  background: var(--dark-background, #181818);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 44px;
}
.new .cont {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: flex;
  padding: 10px;
  align-items: center;
  gap: 10px;
  color: var(--light-text, #FFF);
  /* Second Headline */
  font-family: Graphik;
  font-size: 52px;
  font-style: normal;
  font-weight: 400;
  line-height: 62px; /* 119.231% */
  letter-spacing: 0.2px;
}
.new .sub {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 10px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
  color: var(--light-text, #FFF);
  text-align: center;
  /* Sub Heading */
  font-family: Graphik;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px; /* 150% */
  letter-spacing: 0.2px;
}

.cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 33px;
}
.cards .card2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 476px;
  padding: 40px 0px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 30px;
  border-radius: 10px;
  border: 1px solid #D3D3D3;
  background: var(--light-background, #FFF);
  /* shadow */
  -webkit-box-shadow: 0px 4px 31px 0px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 31px 0px rgba(0, 0, 0, 0.15);
}
.cards .card2 .bord {
  width: 379px;
  height: 276px;
  border-radius: 14px;
  background: url(<path-to-image>), lightgray 50%/cover no-repeat;
  /* shadow */
  -webkit-box-shadow: 0px 4px 31px 0px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 31px 0px rgba(0, 0, 0, 0.15);
}
.cards .card2 .bt {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 52px;
  padding: 20px 36px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: var(--primary, #4452FE);
  /* shadow */
  -webkit-box-shadow: 0px 4px 31px 0px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 31px 0px rgba(0, 0, 0, 0.15);
  display: flex;
  padding: 10px;
  align-items: center;
  gap: 10px;
  color: var(--light-text, #FFF);
  /* Button */
  font-family: Graphik;
  font-size: 17px;
  font-style: normal;
  font-weight: 500;
  line-height: 25px; /* 147.059% */
  letter-spacing: 0.2px;
}
.cards .card2 .per {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 10px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
  color: var(--second-text, #5C5C5C);
  text-align: center;
  /* Paragraphe */
  font-family: Graphik;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 150% */
  letter-spacing: 0.2px;
}
.cards .card2 .tit {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
  display: flex;
  padding: 10px;
  align-items: center;
  gap: 10px;
  color: var(--first-text, #000);
  text-align: center;
  /* Title */
  font-family: Graphik;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 30px; /* 150% */
  letter-spacing: 0.1px;
}