

.lp{
    .zagol{
    color: var(--light-text, #FFF);
    text-align: center;
    
    /* Headline */
    font-family: Graphik;
    font-size: 80px;
    font-style: normal;
    font-weight: 500;
    line-height: 88px; /* 110% */
    letter-spacing: 0.2px;
    list-style-type: none;

    display: flex;
padding: 10px;
align-items: center;
gap: 10px;
    }


    display: flex;
    padding: 50px 0px;
    flex-direction: column;
    align-items: center;
    gap: 17px;
    align-self: stretch;


}



.pl{
.klass{
    color: var(--light-text, #FFF);
    text-align: center;

/* Sub Heading */
font-family: Graphik;
font-size: 20px;
font-style: normal;
font-weight: 400;
line-height: 30px; /* 150% */
letter-spacing: 0.2px;
list-style-type: none;

display: flex;
padding: 10px;
align-items: center;
gap: 10px;
}


}

.zaeb{
    display: flex;
    align-items: center;
    gap: 35px;
    .is{
        display: flex;
        padding: 10px 30px;
        align-items: center;

        background: var(--primary, #4452FE);

/* shadow */
box-shadow: 0px 4px 31px 0px rgba(0, 0, 0, 0.15);
display: flex;
padding: 10px;
align-items: center;
gap: 10px;

color: var(--light-text, #FFF);

/* Button */
font-family: Graphik;
font-size: 17px;
font-style: normal;
font-weight: 500;
line-height: 25px; /* 147.059% */
letter-spacing: 0.2px;
    }
    
    .al{
        display: flex;
padding: 10px 30px;
align-items: center;

border: 1px solid var(--light-text, #FFF);

/* shadow */
box-shadow: 0px 4px 31px 0px rgba(0, 0, 0, 0.15);

display: flex;
padding: 10px;
align-items: center;
gap: 10px;

color: var(--light-background, #FFF);

/* Button */
font-family: Graphik;
font-size: 17px;
font-style: normal;
font-weight: 500;
line-height: 25px; /* 147.059% */
letter-spacing: 0.2px;
    }
}





.img{
    height: 993px;
    align-self: stretch;
    .ahu{
        width: 1552.023px;
        height: 841px;
        flex-shrink: 0;


.verh{
    width: 465.817px;
height: 429.985px;
transform: rotate(-45deg);
flex-shrink: 0;

background: url(<path-to-image>), lightgray 50% / cover no-repeat;
}

    .pravo{
        width: 466.534px;
        height: 451.484px;
        transform: rotate(45deg);
        flex-shrink: 0;

        background: url(<path-to-image>), lightgray 50% / cover no-repeat;
    }

.levo{
    width: 466.534px;
height: 429.985px;
transform: rotate(45deg);
flex-shrink: 0;

background: url(<path-to-image>), lightgray 50% / cover no-repeat;
}
    }
.grad{
    width: 1579px;
    height: 551px;
    flex-shrink: 0;

    background: linear-gradient(180deg, rgba(0, 0, 0, 0.00) 0%, #0E0E0E 66.15%);
}
}






.tu{
    display: flex;
padding: 62px 50px;
flex-direction: column;
align-items: flex-start;
gap: 10px;
align-self: stretch;
background: var(--dark-background, #181818);

display: flex;
flex-direction: column;
align-items: center;
gap: 80px;
align-self: stretch;

display: flex;
flex-direction: column;
align-items: center;
gap: 27px;

.zaa{
    display: flex;
    align-items: center;
    gap: 10px;

color: var(--light-text, #FFF);
/* Second Headline */
font-family: Graphik;
font-size: 52px;
font-style: normal;
font-weight: 400;
line-height: 62px; /* 119.231% */
letter-spacing: 0.2px;
}

.zee{
    display: flex;
    padding: 0px 10px;
    align-items: center;
    gap: 10px;

    color: var(--light-text, #FFF);
text-align: center;
/* Sub Heading */
font-family: Graphik;
font-size: 20px;
font-style: normal;
font-weight: 400;
line-height: 30px; /* 150% */
letter-spacing: 0.2px;
}
}

.inop{
    display: flex;
align-items: center;
gap: 27px;

.iso{
    width: 752px;
height: 759px;

.chat{
    width: 696px;
    height: 659px;
    flex-shrink: 0;

    background: url(<path-to-image>), lightgray 50% / contain no-repeat;

/* shadow */
box-shadow: 0px 4px 31px 0px rgba(0, 0, 0, 0.15);
}

.line{
    width: 400px;
height: 276px;
flex-shrink: 0;

background: url(<path-to-image>), lightgray 50% / cover no-repeat;

/* shadow */
box-shadow: 0px 4px 31px 0px rgba(0, 0, 0, 0.15);
}
}
}



.icro{
    display: flex;
padding: 20px;
flex-direction: column;
align-items: flex-start;
gap: 25px;

display: flex;
width: 269px;
flex-direction: column;
align-items: flex-start;
padding-left: 500px;
margin-top: -80px;

.bezko{
    display: flex;
width: 269px;
flex-direction: column;
align-items: flex-start;

.bez{
    display: flex;
    padding: 17px 0px;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    fill: var(--secondary, #02E4C0);
    width: 41px;
    height: 19px;
    display: flex;
align-items: flex-start;
}
.zagolovok{
    display: flex;
padding: 10px;
align-items: center;
gap: 10px;
color: var(--light-text, #FFF);

/* Title */
font-family: Graphik;
font-size: 20px;
font-style: normal;
font-weight: 500;
line-height: 30px; /* 150% */
letter-spacing: 0.1px;
}
.osn{
    display: flex;
padding: 10px;
align-items: center;
gap: 10px;
color: var(--light-text, #FFF);

/* Paragraphe */
font-family: Graphik;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 24px; /* 150% */
letter-spacing: 0.2px;
}
}
.ino{
    display: flex;
align-items: flex-start;

.in{
    display: flex;
padding: 15px 2px;
align-items: center;
gap: 10px;
width: 29px;
height: 30px;
fill: var(--secondary, #02E4C0);
}
.zag{
    display: flex;
padding: 10px;
align-items: center;
gap: 10px;
color: var(--light-text, #FFF);

/* Title */
font-family: Graphik;
font-size: 20px;
font-style: normal;
font-weight: 500;
line-height: 30px; /* 150% */
letter-spacing: 0.1px;
}
.osnov{
    display: flex;
padding: 10px;
align-items: center;
gap: 10px;

color: var(--light-text, #FFF);

/* Paragraphe */
font-family: Graphik;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 24px; /* 150% */
letter-spacing: 0.2px;
}
}
.inopl{
    display: flex;
align-items: flex-start;

.eat{
    display: flex;
padding: 19px 3px;
flex-direction: column;
align-items: flex-start;
gap: 10px;

width: 25.494px;
height: 23.665px;

fill: var(--secondary, #02E4C0);


}

.eating{
    display: flex;
padding: 10px;
align-items: center;
gap: 10px;

color: var(--light-text, #FFF);

/* Title */
font-family: Graphik;
font-size: 20px;
font-style: normal;
font-weight: 500;
line-height: 30px; /* 150% */
letter-spacing: 0.1px;
}

.moreat{
    display: flex;
padding: 10px;
align-items: center;
gap: 10px;

color: var(--light-text, #FFF);

/* Paragraphe */
font-family: Graphik;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 24px; /* 150% */
letter-spacing: 0.2px;
}
}
}






 .new{
    display: flex;
    padding: 50px 199px;
    flex-direction: column;
    align-items: center;
    gap: 35px;
    align-self: stretch;
    background: var(--dark-background, #181818);

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 44px;
    .cont{
        display: flex;
        flex-direction: column;
        align-items: center;

        display: flex;
padding: 10px;
align-items: center;
gap: 10px;

color: var(--light-text, #FFF);

/* Second Headline */
font-family: Graphik;
font-size: 52px;
font-style: normal;
font-weight: 400;
line-height: 62px; /* 119.231% */
letter-spacing: 0.2px;
    }

    .sub{
        display: flex;
padding: 10px;
align-items: center;
gap: 10px;

color: var(--light-text, #FFF);
text-align: center;

/* Sub Heading */
font-family: Graphik;
font-size: 20px;
font-style: normal;
font-weight: 400;
line-height: 30px; /* 150% */
letter-spacing: 0.2px;
    }
 }


    .cards{
        display: flex;
align-items: center;
gap: 33px;



// .card{
//     display: flex;
// width: 476px;
// padding: 40px 0px;
// flex-direction: column;
// align-items: center;
// gap: 57px;

// border-radius: 10px;
// border: 1px solid #D3D3D3;
// background: var(--light-background, #FFF);

// /* shadow */
// box-shadow: 0px 4px 31px 0px rgba(0, 0, 0, 0.15);


// .butt{
//     display: flex;
// height: 52px;
// padding: 20px 36px;
// align-items: center;

// background: var(--primary, #4452FE);

// /* shadow */
// box-shadow: 0px 4px 31px 0px rgba(0, 0, 0, 0.15);


// display: flex;
// padding: 10px;
// align-items: center;
// gap: 10px;

// color: var(--light-text, #FFF);

// /* Button */
// font-family: Graphik;
// font-size: 17px;
// font-style: normal;
// font-weight: 500;
// line-height: 25px; /* 147.059% */
// letter-spacing: 0.2px;

// }



// .fara{
//     display: flex;
// flex-direction: column;
// align-items: center;
// gap: 10px;

// display: flex;
// padding: 10px;
// align-items: center;
// gap: 10px;


// color: var(--first-text, #000);
// text-align: center;

// /* Title */
// font-family: Graphik;
// font-size: 20px;
// font-style: normal;
// font-weight: 500;
// line-height: 30px; /* 150% */
// letter-spacing: 0.1px;
// }

// .mask{
//     width: 312.325px;
// height: 195.184px;
// flex-shrink: 0;
// fill: url(<path-to-image>), lightgray 50% / cover no-repeat, url(<path-to-image>), lightgray 50% / cover no-repeat;
// }
// .par{
//     color: var(--second-text, #5C5C5C);
// text-align: center;

// /* Paragraphe */
// font-family: Graphik;
// font-size: 16px;
// font-style: normal;
// font-weight: 400;
// line-height: 24px; /* 150% */
// letter-spacing: 0.2px;
//     }
//  }


.card2{
    display: flex;
width: 476px;
padding: 40px 0px;
flex-direction: column;
align-items: center;
gap: 30px;

border-radius: 10px;
border: 1px solid #D3D3D3;
background: var(--light-background, #FFF);

/* shadow */
box-shadow: 0px 4px 31px 0px rgba(0, 0, 0, 0.15);

.bord{
    width: 379px;
height: 276px;
border-radius: 14px;
background: url(<path-to-image>), lightgray 50% / cover no-repeat;

/* shadow */
box-shadow: 0px 4px 31px 0px rgba(0, 0, 0, 0.15);
}
.bt{
    display: flex;
    height: 52px;
    padding: 20px 36px;
    align-items: center;
    background: var(--primary, #4452FE);

    /* shadow */
    box-shadow: 0px 4px 31px 0px rgba(0, 0, 0, 0.15);

    display: flex;
padding: 10px;
align-items: center;
gap: 10px;

color: var(--light-text, #FFF);

/* Button */
font-family: Graphik;
font-size: 17px;
font-style: normal;
font-weight: 500;
line-height: 25px; /* 147.059% */
letter-spacing: 0.2px;
}
.per{
    display: flex;
padding: 10px;
align-items: center;
gap: 10px;
color: var(--second-text, #5C5C5C);
text-align: center;

/* Paragraphe */
font-family: Graphik;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 24px; /* 150% */
letter-spacing: 0.2px;
}
.tit{
    display: flex;
flex-direction: column;
align-items: center;
gap: 10px;

display: flex;
padding: 10px;
align-items: center;
gap: 10px;

color: var(--first-text, #000);
text-align: center;

/* Title */
font-family: Graphik;
font-size: 20px;
font-style: normal;
font-weight: 500;
line-height: 30px; /* 150% */
letter-spacing: 0.1px;
}
}
}